#courseDetailed {
  padding: 80px 80px 40px 80px;

  .course-crumb {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 10px;
  }
  .course-crumb-name {
    color: #252d41;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 10px;
  }
  .MuiBreadcrumbs-separator {
    margin: 0px;
    color: #252d41;
  }
  .MuiSvgIcon-root {
    width: 15px;
    height: 15px;
  }
  .course-container {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    .course-wrapper {
      .course-chip {
        font-family: "Open Sans";
        font-size: 10px;
        font-weight: 500;
        color: #16807e;
        background-color: #d2e4e4;
        border-radius: 4px;
      }
      .course-name {
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 600;
        color: #252d41;
        padding: 5px 0px 15px 0px;
      }
      .course-description{
        font-family: "Open sans";
        font-size: 12px;
        font-weight: 500;
        color: #252D41;
        opacity: 0.6;
        width: 70%;
      }
      .course-instructor {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 500;
        color: #999999;
        padding: 0px 50px 0px 0px;
      }
      .course-extras {
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 500;
        color: #999999;
        padding: 0px 20px 0px 0px;
      }
      .btn-enroll {
        width: 130px;
      }
    }
    .course-img {
      width: 370px;
      height: 200px;
      border-radius: 4px;
    }
  }
}
